/* Container */
.faq {
  background-color: #f9fafb;
  padding: 3rem 0;
}

.faq h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
}

.faq p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 3rem;
}

/* Accordion styles */
.accordion-button {
  background-color: #f1f5f9;
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1rem;
  border: none;
  box-shadow: none;
  transition: background-color 0.3s ease-in-out;
}

.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #80b6f4; /* Biru seperti di gambar */
}

.accordion-button:focus {
  border: none;
  box-shadow: none;
}

.accordion-item {
  border: none;
  margin-bottom: 0.5rem;
}

.accordion-header {
  margin-bottom: 0.5rem;
}

.accordion-body {
  padding: 1.5rem;
  background-color: #fff;
  border-top: 1px solid #ddd;
  font-size: 1rem;
  color: #444;
}

/* Hover effect for accordion button */
.accordion-button:hover {
  background-color: #e2e8f0;
  color: #000;
}

/* Adjust margin between accordion items */
.accordion-item + .accordion-item {
  margin-top: 0.5rem;
}

/* Media Queries */
@media (max-width: 768px) {
  .faq h2 {
    font-size: 2rem;
  }

  .faq p {
    font-size: 1rem;
  }

  .accordion-button {
    font-size: 1rem;
  }

  .accordion-body {
    font-size: 0.9rem;
  }
}
