/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --warna-premier: #229799;
    --warna-sekunder: #f5f5f5;
    --warna-putih2: #ffffff;
    --warna-tersier: #48cfcb;
    --warna-button: #427898;
    --warna-text: #000000;
    --warana-kuning: #f5bd41;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Navbar styles */
.bg-header {
    background-color: var(--warna-putih2); /* White background */
    border-bottom: 1px solid #ddd; /* Border for separation */
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between; /* Positions logo and buttons at opposite sides */
    align-items: center;
    width: 100%;
}

/* Container for navbar elements */
.container {
    display: flex;
    justify-content: space-between; /* Distributes space between children */
    align-items: center;
    max-width: 1200px; /* Maximum width */
    margin: 0 auto; /* Centering the container */
}

/* Logo on the left */
.navbar-brand {
    margin-right: 200px; /* Space between logo and navbar */
}

.logo-img {
    height: 50px; /* Logo height */
    width: auto; /* Maintain aspect ratio */
}

/* Navbar Links */
.navbar-nav .nav-link {
    font-weight: 500; /* Bold font for menu */
    color: #4a4a4a; /* Menu text color */
    padding: 10px 15px; /* Padding for menu */
    text-decoration: none; /* Remove underline */
}

.navbar-nav .nav-link:hover {
    color: var(--warna-premier); /* Color on hover */
}

/* User Button */
.user-button {
  display: flex;
  align-items: center;
  background-color: var(--warna-button);
  color: var(--warna-putih2);
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.user-button:hover {
  background-color: var(--warna-premier);
}

/* Profile Dropdown */
.profile-dropdown {
  position: absolute;
  top: 60px;
  right: 0;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 1;
}

.profile-dropdown .dropdown-item {
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
  display: block;
}

.profile-dropdown .dropdown-item:hover {
  background-color: #f0f0f0;
}


/* User Photo */
.user-photo {
    border-radius: 50%; /* Make user photo circular */
    width: 30px; /* User photo size */
    height: 30px; /* User photo size */
    margin-right: 10px; /* Space between photo and name */
}
